.code-table pre {
    line-height: 1.4;
    padding-top: 0;
    margin-top: 0;
}

.code-table td {
    padding-top: 0;
    margin-top: 0;
}

#line-numbers {
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid black;
}

#buffer-contents {
    word-wrap: break-word;
}

#mode-line {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: grey;
}
